.data, .button {
    border: 1.5px solid red;
    border-top-right-radius: 4.5rem;
    background: rgba(0,0,0,0.7);
    width: 90%;
    position: sticky;
    bottom: 10vh;
    color: white;
    font-size: 1.15rem;
    text-align: left;
    padding: 1rem;
}

.button {
    width: 3.25rem;
    font-size: 1rem;
    padding: .75rem;
    background: rgba(255,0,0,0.15);
    border-left: none;
    border-bottom-right-radius: 4.5rem;
}